<configuration>
	<rule name="rule 1j">
		<match url=".*"  />
		<action type="Rewrite" url="//index.php"  />
	</rule>
	<rule name="rule 2j" stopProcessing="true">
		<match url="(^[^\?]*)|((?&lt;=\?).*$)"  />
		<action type="Rewrite" url="//index.php?path={R:1}&amp;{R:2}"  appendQueryString="true" />
	</rule>
</configuration>