/*
 MiMFa.net
 Quick Styles
 */

.be.wide {
  display: block;
  width: 100%;
}
.be.tall {
  display: block;
  height: 100%;
}
.be.fit {
  width: fit-content;
  height: fit-content;
}
.be.min {
  width: min-content;
  height: min-content;
}
.be.max {
  width: max-content;
  height: max-content;
}
.be.bold {
  font-weight: bold;
}
.be.thick {
  font-weight: bolder;
}
.be.thin {
  font-weight: lighter;
}
.be.normal {
  text-decoration: none;
  font-weight: normal;
}
.be.square{
    aspect-ratio: 1;
}
.be.circle{
    border-radius: 100%;
}

.be:is(.top,.middle,.bottom) {
  display: flex;
}
.be.top {
  align-self: top;
}
.be.middle {
  align-self: center;
}
.be.bottom {
  align-self: bottom;
}
.be.left {
  text-align: left;
}
.be.right {
  text-align: right;
}
.be.center {
  text-align: center;
}
.be.align.start {
  text-align: start;
}
.be.align.end {
  text-align: end;
}

.be.ltr {
  direction: ltr;
}
.be.rtl {
  direction: rtl;
}

.be.sticky{
  position: sticky;
}
.be.sticky:not(.bottom,.left,.right){
  top: var(--size-5);
}
.be.sticky.bottom{
  bottom: var(--size-5);
}
.be.sticky.left{
  left: var(--size-5);
}
.be.sticky.right{
  right: var(--size-5);
}

.be.table {
  display: table;
}
.be.grid {
  display: grid;
}
.be.flex {
  display: flex;
}
.be:not(.inline).block {
  display: block;
}
.be:not(.block).inline {
  display: inline;
}
.be.inline.block {
  display: inline-block;
}
.be.hide {
  display: none;
}
.be.show {
  display: inherit;
}
.be.visible {
  display: visible;
}
.be.invisible {
  visibility: hidden;
}
.be.transparent{
  background-color: transparent;
}
.be.black {
	background-color: var(--color-0);
}
.be.red {
	background-color: var(--color-1);
}
.be.green {
	background-color: var(--color-2);
}
.be.blue {
	background-color: var(--color-2);
}
.be.yellow {
	background-color: var(--color-3);
}
.be.cyan {
	background-color: var(--color-4);
}
.be.violet {
	background-color: var(--color-5);
}
.be.white {
	background-color: var(--color-6);
}
.be.light{
	-webkit-filter: brightness(100) grayscale(100);
	-moz-filter: brightness(100) grayscale(100);
	-o-filter: brightness(100) grayscale(100);
	-ms-filter: brightness(100) grayscale(100);
	filter: brightness(100) grayscale(100);
}
.be.dark{
	-webkit-filter: brightness(-100) grayscale(100);
	-moz-filter: brightness(-100) grayscale(100);
	-o-filter: brightness(-100) grayscale(100);
	-ms-filter: brightness(-100) grayscale(100);
	filter: brightness(-100) grayscale(100);
}
.be.blackwhite{
	-webkit-filter: brightness(100) grayscale(100) contrast(0.8);
	-moz-filter: brightness(100) grayscale(100) contrast(0.8);
	-o-filter: brightness(100) grayscale(100) contrast(0.8);
	-ms-filter: brightness(100) grayscale(100) contrast(0.8);
	filter: brightness(100) grayscale(100) contrast(0.8);
}
