/*
 MiMFa.net
 Quick Styles
 */

.be.wide {
  display: block;
  width: 100%;
}
.be.tall {
  display: block;
  height: 100%;
}
.be.fit {
  width: fit-content;
  height: fit-content;
}
.be.min {
  width: min-content;
  height: min-content;
}
.be.max {
  width: max-content;
  height: max-content;
}
.be.bold {
  font-weight: bold;
}
.be.thick {
  font-weight: bolder;
}
.be.thin {
  font-weight: lighter;
}
.be.normal {
  text-decoration: none;
  font-weight: normal;
}
.be.square{
    aspect-ratio: 1;
}
.be.circle{
    border-radius: 100%;
}

.be:is(.top,.middle,.bottom) {
  display: flex;
}
.be.top {
  align-self: top;
}
.be.middle {
  align-self: center;
}
.be.bottom {
  align-self: bottom;
}
.be.left {
  text-align: left;
}
.be.right {
  text-align: right;
}
.be.center {
  text-align: center;
}
.be.align.start {
  text-align: start;
}
.be.align.justify {
  text-align: justify;
}
.be.align.end {
  text-align: end;
}

.be.ltr {
  direction: ltr;
}
.be.rtl {
  direction: rtl;
}

.be.sticky{
  position: sticky;
}
.be.sticky:not(.bottom,.left,.right){
  top: var(--size-5);
}
.be.sticky.bottom{
  bottom: var(--size-5);
}
.be.sticky.left{
  left: var(--size-5);
}
.be.sticky.right{
  right: var(--size-5);
}

.be.table {
  display: table;
}
.be.grid {
  display: grid;
}
.be.flex {
  display: flex;
}
.be:not(.inline).block {
  display: block;
}
.be:not(.block).inline {
  display: inline;
}
.be.inline.block {
  display: inline-block;
}
.be.hide {
  display: none;
}
.be.show {
  display: inherit;
}
.be.visible {
  display: visible;
}
.be.invisible {
  visibility: hidden;
}
.be.transparent{
  background-color: transparent;
}
.be.black {
	background-color: var(--color-0);
}
.be.red {
	background-color: var(--color-1);
}
.be.green {
	background-color: var(--color-2);
}
.be.blue {
	background-color: var(--color-2);
}
.be.yellow {
	background-color: var(--color-3);
}
.be.cyan {
	background-color: var(--color-4);
}
.be.violet {
	background-color: var(--color-5);
}
.be.white {
	background-color: var(--color-6);
}
.be.blur{
	-webkit-filter: blur(1.5rem);
	-moz-filter: blur(1.5rem);
	-o-filter: blur(1.5rem);
	-ms-filter: blur(1.5rem);
	filter: blur(1.5rem);
}
.be.sharp{
	-webkit-filter: contrast(120%);
	-moz-filter: contrast(120%);
	-o-filter: contrast(120%);
	-ms-filter: contrast(120%);
	filter: contrast(120%);
}
.be.adjust{
	-webkit-filter: brightness(90%) contrast(110%);
	-moz-filter: brightness(90%) contrast(110%);
	-o-filter: brightness(90%) contrast(110%);
	-ms-filter: brightness(90%) contrast(110%);
	filter: brightness(90%) contrast(110%);
}
.be.light{
	-webkit-filter: brightness(0) invert(1);
	-moz-filter: brightness(0) invert(1);
	-o-filter: brightness(0) invert(1);
	-ms-filter: brightness(0) invert(1);
	filter: brightness(0) invert(1);
}
.be.dark{
	-webkit-filter: brightness(100) invert(1);
	-moz-filter: brightness(100) invert(1);
	-o-filter: brightness(100) invert(1);
	-ms-filter: brightness(100) invert(1);
	filter: brightness(100) invert(1);
}
.be.blackwhite{
	-webkit-filter: brightness(100) grayscale(100) contrast(0.8);
	-moz-filter: brightness(100) grayscale(100) contrast(0.8);
	-o-filter: brightness(100) grayscale(100) contrast(0.8);
	-ms-filter: brightness(100) grayscale(100) contrast(0.8);
	filter: brightness(100) grayscale(100) contrast(0.8);
}
.be.invert{
	-webkit-filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
	-moz-filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
	-o-filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
	-ms-filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
	filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}


@media print {
  :has(.be.print.perfect){
    display: block;
    visibility: visible;
    opacity: 1;
    width: 100%;
    text-align: center;
  }
  .be.print.perfect{
    display: inline-flex;
    visibility: visible;
    opacity: 1;
    margin: 0px;
    padding: 0px;
    align-items: center;
    flex-direction: column;
    text-align: revert;
    width: fit-content;
  }
}