/*
 MiMFa.net
 Responsive Styles
 */


.show {
  display: inherit !important;
}
.revert {
  display: revert-layer !important;
}
.flex {
  display: flex !important;
}
.block {
  display: block !important;
}
.grid {
  display: grid !important;
}
.inline-flex {
  display: inline-flex !important;
}
.inline-block {
  display: inline-block !important;
}
.inline-grid {
  display: inline-grid !important;
}

.hide {
  display: none !important;
}

.visible {
  visibility: visible !important;
}

.invisible {
  visibility: hidden !important;
}

@media print {
  .view.printable {
    display: block !important;
    visibility: visible !important;
    opacity: 1 !important;
  }
  .view.unprintable {
    display: none !important;
  }
}

.top-hide {
  display: none;
}
.top-invisible {
  visibility: hidden;
}
.hover-hide,
.parent-hover-hide {
  display: inherit !important;
}

:hover>.hover-hide,
:hover>*>.parent-hover-hide {
  display: none !important;
}
.hover-show,
.parent-hover-show {
  display: none !important;
}

:hover>.hover-show,
:hover>*>.parent-hover-show {
  display: inherit !important;
}
:hover>.hover-revert,
:hover>*>.parent-hover-revert {
  display: revert-layer !important;
}
:hover>.hover-flex,
:hover>*>.parent-hover-flex {
  display: flex !important;
}
:hover>.hover-block,
:hover>*>.parent-hover-block {
  display: block !important;
}
:hover>.hover-grid,
:hover>*>.parent-hover-grid {
  display: grid !important;
}
:hover>.hover-inline-flex,
:hover>*>.parent-hover-inline-flex {
  display: inline-flex !important;
}
:hover>.hover-inline-block,
:hover>*>.parent-hover-inline-block {
  display: inline-block !important;
}
:hover>.hover-inline-grid,
:hover>*>.parent-hover-inline-grid {
  display: inline-grid !important;
}

.hover-visible,
.parent-hover-visible {
  visibility: hidden !important;
}

:hover>.hover-visible,
:hover>*>.parent-hover-visible {
  visibility: visible !important;
}
.hover-invisible,
.parent-hover-invisible {
  visibility: visible !important;
}

:hover>.hover.invisible,
:hover>*>.parent.hover.invisible {
  visibility: hidden !important;
}
.xxl-invisible,
.xxl-range-invisible {
  visibility: visible !important;
}
.xxl-visible,
.xxl-range-visible {
  visibility: hidden !important;
}
.xxl-show,
.xxl-range-show,
.xxl-revert,
.xxl-range-revert,
.xxl-flex,
.xxl-range-flex,
.xxl-block,
.xxl-range-block,
.xxl-grid,
.xxl-range-grid,
.xxl-inline-flex,
.xxl-range-inline-flex,
.xxl-inline-block,
.xxl-range-inline-block,
.xxl-inline-grid,
.xxl-range-inline-grid {
  display: none !important;
}

@media screen and (min-width: 1201px) {
  .xxl-visible {
    visibility: visible !important;
  }
  .xxl-show {
    display: inherit !important;
  }
  .xxl-revert {
    display: revert-layer !important;
  }
  .xxl-flex {
    display: flex !important;
  }
  .xxl-block {
    display: block !important;
  }
  .xxl-grid {
    display: grid !important;
  }
  .xxl-inline-flex {
    display: inline-flex !important;
  }
  .xxl-inline-block {
    display: inline-block !important;
  }
  .xxl-inline-grid {
    display: inline-grid !important;
  }
  .xxl-invisible {
    visibility: hidden !important;
  }
  .xxl-hide {
    display: none !important;
  }
}

@media screen and (min-width: 1201px) and (max-width: 99999px) {
  .xxl-range-visible {
    visibility: visible !important;
  }
  .xxl-range-show {
    display: inherit !important;
  }
  .xxl-range-revert {
    display: revert-layer !important;
  }
  .xxl-range-flex {
    display: flex !important;
  }
  .xxl-range-block {
    display: block !important;
  }
  .xxl-range-grid {
    display: grid !important;
  }
  .xxl-range-inline-flex {
    display: inline-flex !important;
  }
  .xxl-range-inline-block {
    display: inline-block !important;
  }
  .xxl-range-inline-grid {
    display: inline-grid !important;
  }
  .xxl-range-invisible {
    visibility: hidden !important;
  }
  .xxl-range-hide {
    display: none !important;
  }
}
.xl-invisible,
.xl-range-invisible {
  visibility: visible !important;
}
.xl-visible,
.xl-range-visible {
  visibility: hidden !important;
}
.xl-show,
.xl-range-show,
.xl-revert,
.xl-range-revert,
.xl-flex,
.xl-range-flex,
.xl-block,
.xl-range-block,
.xl-grid,
.xl-range-grid,
.xl-inline-flex,
.xl-range-inline-flex,
.xl-inline-block,
.xl-range-inline-block,
.xl-inline-grid,
.xl-range-inline-grid {
  display: none !important;
}

@media screen and (max-width: 1200px) {
  .xl-visible {
    visibility: visible !important;
  }
  .xl-show {
    display: inherit !important;
  }
  .xl-revert {
    display: revert-layer !important;
  }
  .xl-flex {
    display: flex !important;
  }
  .xl-block {
    display: block !important;
  }
  .xl-grid {
    display: grid !important;
  }
  .xl-inline-flex {
    display: inline-flex !important;
  }
  .xl-inline-block {
    display: inline-block !important;
  }
  .xl-inline-grid {
    display: inline-grid !important;
  }
  .xl-invisible {
    visibility: hidden !important;
  }
  .xl-hide {
    display: none !important;
  }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
  .xl-range-visible {
    visibility: visible !important;
  }
  .xl-range-show {
    display: inherit !important;
  }
  .xl-range-revert {
    display: revert-layer !important;
  }
  .xl-range-flex {
    display: flex !important;
  }
  .xl-range-block {
    display: block !important;
  }
  .xl-range-grid {
    display: grid !important;
  }
  .xl-range-inline-flex {
    display: inline-flex !important;
  }
  .xl-range-inline-block {
    display: inline-block !important;
  }
  .xl-range-inline-grid {
    display: inline-grid !important;
  }
  .xl-range-invisible {
    visibility: hidden !important;
  }
  .xl-range-hide {
    display: none !important;
  }
}
.lg-invisible,
.lg-range-invisible {
  visibility: visible !important;
}
.lg-visible,
.lg-range-visible {
  visibility: hidden !important;
}
.lg-show,
.lg-range-show,
.lg-revert,
.lg-range-revert,
.lg-flex,
.lg-range-flex,
.lg-block,
.lg-range-block,
.lg-grid,
.lg-range-grid,
.lg-inline-flex,
.lg-range-inline-flex,
.lg-inline-block,
.lg-range-inline-block,
.lg-inline-grid,
.lg-range-inline-grid {
  display: none !important;
}

@media screen and (max-width: 992px) {
  .lg-visible {
    visibility: visible !important;
  }
  .lg-show {
    display: inherit !important;
  }
  .lg-revert {
    display: revert-layer !important;
  }
  .lg-flex {
    display: flex !important;
  }
  .lg-block {
    display: block !important;
  }
  .lg-grid {
    display: grid !important;
  }
  .lg-inline-flex {
    display: inline-flex !important;
  }
  .lg-inline-block {
    display: inline-block !important;
  }
  .lg-inline-grid {
    display: inline-grid !important;
  }
  .lg-invisible {
    visibility: hidden !important;
  }
  .lg-hide {
    display: none !important;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .lg-range-visible {
    visibility: visible !important;
  }
  .lg-range-show {
    display: inherit !important;
  }
  .lg-range-revert {
    display: revert-layer !important;
  }
  .lg-range-flex {
    display: flex !important;
  }
  .lg-range-block {
    display: block !important;
  }
  .lg-range-grid {
    display: grid !important;
  }
  .lg-range-inline-flex {
    display: inline-flex !important;
  }
  .lg-range-inline-block {
    display: inline-block !important;
  }
  .lg-range-inline-grid {
    display: inline-grid !important;
  }
  .lg-range-invisible {
    visibility: hidden !important;
  }
  .lg-range-hide {
    display: none !important;
  }
}
.md-invisible,
.md-range-invisible {
  visibility: visible !important;
}
.md-visible,
.md-range-visible {
  visibility: hidden !important;
}
.md-show,
.md-range-show,
.md-revert,
.md-range-revert,
.md-flex,
.md-range-flex,
.md-block,
.md-range-block,
.md-grid,
.md-range-grid,
.md-inline-flex,
.md-range-inline-flex,
.md-inline-block,
.md-range-inline-block,
.md-inline-grid,
.md-range-inline-grid {
  display: none !important;
}

@media screen and (max-width: 768px) {
  .md-visible {
    visibility: visible !important;
  }
  .md-show {
    display: inherit !important;
  }
  .md-revert {
    display: revert-layer !important;
  }
  .md-flex {
    display: flex !important;
  }
  .md-block {
    display: block !important;
  }
  .md-grid {
    display: grid !important;
  }
  .md-inline-flex {
    display: inline-flex !important;
  }
  .md-inline-block {
    display: inline-block !important;
  }
  .md-inline-grid {
    display: inline-grid !important;
  }
  .md-invisible {
    visibility: hidden !important;
  }
  .md-hide {
    display: none !important;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .md-range-visible {
    visibility: visible !important;
  }
  .md-range-show {
    display: inherit !important;
  }
  .md-range-revert {
    display: revert-layer !important;
  }
  .md-range-flex {
    display: flex !important;
  }
  .md-range-block {
    display: block !important;
  }
  .md-range-grid {
    display: grid !important;
  }
  .md-range-inline-flex {
    display: inline-flex !important;
  }
  .md-range-inline-block {
    display: inline-block !important;
  }
  .md-range-inline-grid {
    display: inline-grid !important;
  }
  .md-range-invisible {
    visibility: hidden !important;
  }
  .md-range-hide {
    display: none !important;
  }
}
.sm-invisible,
.sm-range-invisible {
  visibility: visible !important;
}
.sm-visible,
.sm-range-visible {
  visibility: hidden !important;
}
.sm-show,
.sm-range-show,
.sm-revert,
.sm-range-revert,
.sm-flex,
.sm-range-flex,
.sm-block,
.sm-range-block,
.sm-grid,
.sm-range-grid,
.sm-inline-flex,
.sm-range-inline-flex,
.sm-inline-block,
.sm-range-inline-block,
.sm-inline-grid,
.sm-range-inline-grid {
  display: none !important;
}

@media screen and (max-width: 576px) {
  .sm-visible {
    visibility: visible !important;
  }
  .sm-show {
    display: inherit !important;
  }
  .sm-revert {
    display: revert-layer !important;
  }
  .sm-flex {
    display: flex !important;
  }
  .sm-block {
    display: block !important;
  }
  .sm-grid {
    display: grid !important;
  }
  .sm-inline-flex {
    display: inline-flex !important;
  }
  .sm-inline-block {
    display: inline-block !important;
  }
  .sm-inline-grid {
    display: inline-grid !important;
  }
  .sm-invisible {
    visibility: hidden !important;
  }
  .sm-hide {
    display: none !important;
  }
}

@media screen and (min-width: 481px) and (max-width: 576px) {
  .sm-range-visible {
    visibility: visible !important;
  }
  .sm-range-show {
    display: inherit !important;
  }
  .sm-range-revert {
    display: revert-layer !important;
  }
  .sm-range-flex {
    display: flex !important;
  }
  .sm-range-block {
    display: block !important;
  }
  .sm-range-grid {
    display: grid !important;
  }
  .sm-range-inline-flex {
    display: inline-flex !important;
  }
  .sm-range-inline-block {
    display: inline-block !important;
  }
  .sm-range-inline-grid {
    display: inline-grid !important;
  }
  .sm-range-invisible {
    visibility: hidden !important;
  }
  .sm-range-visible {
    visibility: visible !important;
  }
  .sm-range-hide {
    display: none !important;
  }
}
.xs-invisible,
.xs-range-invisible {
  visibility: visible !important;
}
.xs-visible,
.xs-range-visible {
  visibility: hidden !important;
}
.xs-show,
.xs-range-show,
.xs-revert,
.xs-range-revert,
.xs-flex,
.xs-range-flex,
.xs-block,
.xs-range-block,
.xs-grid,
.xs-range-grid,
.xs-inline-flex,
.xs-range-inline-flex,
.xs-inline-block,
.xs-range-inline-block,
.xs-inline-grid,
.xs-range-inline-grid {
  display: none !important;
}

@media screen and (max-width: 480px) {
  .xs-visible {
    visibility: visible !important;
  }
  .xs-show {
    display: inherit !important;
  }
  .xs-revert {
    display: revert-layer !important;
  }
  .xs-flex {
    display: flex !important;
  }
  .xs-block {
    display: block !important;
  }
  .xs-grid {
    display: grid !important;
  }
  .xs-inline-flex {
    display: inline-flex !important;
  }
  .xs-inline-block {
    display: inline-block !important;
  }
  .xs-inline-grid {
    display: inline-grid !important;
  }
  .xs-invisible {
    visibility: hidden !important;
  }
  .xs-hide {
    display: none !important;
  }
}

@media screen and (min-width: 361px) and (max-width: 480px) {
  .xs-range-visible {
    visibility: visible !important;
  }
  .xs-range-show {
    display: inherit !important;
  }
  .xs-range-revert {
    display: revert-layer !important;
  }
  .xs-range-flex {
    display: flex !important;
  }
  .xs-range-block {
    display: block !important;
  }
  .xs-range-grid {
    display: grid !important;
  }
  .xs-range-inline-flex {
    display: inline-flex !important;
  }
  .xs-range-inline-block {
    display: inline-block !important;
  }
  .xs-range-inline-grid {
    display: inline-grid !important;
  }
  .xs-range-invisible {
    visibility: hidden !important;
  }
  .xs-range-hide {
    display: none !important;
  }
}
.xxs-invisible,
.xxs-range-invisible {
  visibility: visible !important;
}
.xxs-visible,
.xxs-range-visible {
  visibility: hidden !important;
}
.xxs-show,
.xxs-range-show,
.xxs-revert,
.xxs-range-revert,
.xxs-flex,
.xxs-range-flex,
.xxs-block,
.xxs-range-block,
.xxs-grid,
.xxs-range-grid,
.xxs-inline-flex,
.xxs-range-inline-flex,
.xxs-inline-block,
.xxs-range-inline-block,
.xxs-inline-grid,
.xxs-range-inline-grid {
  display: none !important;
}

@media screen and (max-width: 360px) {
  .xxs-visible {
    visibility: visible !important;
  }
  .xxs-show {
    display: inherit !important;
  }
  .xxs-revert {
    display: revert-layer !important;
  }
  .xxs-flex {
    display: flex !important;
  }
  .xxs-block {
    display: block !important;
  }
  .xxs-grid {
    display: grid !important;
  }
  .xxs-inline-flex {
    display: inline-flex !important;
  }
  .xxs-inline-block {
    display: inline-block !important;
  }
  .xxs-inline-grid {
    display: inline-grid !important;
  }
  .xxs-invisible {
    visibility: hidden !important;
  }
  .xxs-hide {
    display: none !important;
  }
}

@media screen and (min-width: 10px) and (max-width: 360px) {
  .xxs-range-visible {
    visibility: visible !important;
  }
  .xxs-range-show {
    display: inherit !important;
  }
  .xxs-range-revert {
    display: revert-layer !important;
  }
  .xxs-range-flex {
    display: flex !important;
  }
  .xxs-range-block {
    display: block !important;
  }
  .xxs-range-grid {
    display: grid !important;
  }
  .xxs-range-inline-flex {
    display: inline-flex !important;
  }
  .xxs-range-inline-block {
    display: inline-block !important;
  }
  .xxs-range-inline-grid {
    display: inline-grid !important;
  }
  .xxs-range-invisible {
    visibility: hidden !important;
  }
  .xxs-range-hide {
    display: none !important;
  }
}