/*
 MiMFa.net
 Responsive Styles
 */

.show {
  display: revert-layer !important;
}

.hide {
  display: none !important;
}

.visible {
  visibility: visible !important;
}

.invisible {
  visibility: hidden !important;
}

@media print {
  .view.printable {
    display: block !important;
    visibility: visible !important;
    opacity: 1 !important;
  }
  .view.unprintable {
    display: none !important;
  }
}

.top-hide {
  display: none;
}
.top-invisible {
  visibility: hidden;
}
.hover-hide,
.parent-hover-hide {
  display: revert-layer !important;
}

:hover>.hover-hide,
:hover>*>.parent-hover-hide {
  display: none !important;
}
.hover-show,
.parent-hover-show {
  display: none !important;
}

:hover>.hover-show,
:hover>*>.parent-hover-show {
  display: revert-layer !important;
}
.hover-visible,
.parent-hover-visible {
  visibility: hidden !important;
}

:hover>.hover-visible,
:hover>*>.parent-hover-visible {
  visibility: visible !important;
}
.hover-invisible,
.parent-hover-invisible {
  visibility: visible !important;
}

:hover>.hover.invisible,
:hover>*>.parent.hover.invisible {
  visibility: hidden !important;
}
.xxl-invisible,
.xxl-range-invisible {
  visibility: visible !important;
}
.xxl-visible,
.xxl-range-visible {
  visibility: hidden !important;
}
.xxl-show,
.xxl-range-show,
.xxl-block,
.xxl-range-block {
  display: none !important;
}

@media screen and (min-width: 1201px) {
  .xxl-visible {
    visibility: visible !important;
  }
  .xxl-show {
    display: revert-layer !important;
  }
  .xxl-block {
    display: block !important;
  }
  .xxl-invisible {
    visibility: hidden !important;
  }
  .xxl-hide {
    display: none !important;
  }
}

@media screen and (min-width: 1201px) and (max-width: 99999px) {
  .xxl-range-visible {
    visibility: visible !important;
  }
  .xxl-range-show {
    display: revert-layer !important;
  }
  .xxl-range-block {
    display: block !important;
  }
  .xxl-range-invisible {
    visibility: hidden !important;
  }
  .xxl-range-hide {
    display: none !important;
  }
}
.xl-invisible,
.xl-range-invisible {
  visibility: visible !important;
}
.xl-visible,
.xl-range-visible {
  visibility: hidden !important;
}
.xl-show,
.xl-range-show,
.xl-block,
.xl-range-block {
  display: none !important;
}

@media screen and (max-width: 1200px) {
  .xl-visible {
    visibility: visible !important;
  }
  .xl-show {
    display: revert-layer !important;
  }
  .xl-block {
    display: block !important;
  }
  .xl-invisible {
    visibility: hidden !important;
  }
  .xl-hide {
    display: none !important;
  }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
  .xl-range-visible {
    visibility: visible !important;
  }
  .xl-range-show {
    display: revert-layer !important;
  }
  .xl-range-block {
    display: block !important;
  }
  .xl-range-invisible {
    visibility: hidden !important;
  }
  .xl-range-hide {
    display: none !important;
  }
}
.lg-invisible,
.lg-range-invisible {
  visibility: visible !important;
}
.lg-visible,
.lg-range-visible {
  visibility: hidden !important;
}
.lg-show,
.lg-range-show,
.lg-block,
.lg-range-block {
  display: none !important;
}

@media screen and (max-width: 992px) {
  .lg-visible {
    visibility: visible !important;
  }
  .lg-show {
    display: revert-layer !important;
  }
  .lg-block {
    display: block !important;
  }
  .lg-invisible {
    visibility: hidden !important;
  }
  .lg-hide {
    display: none !important;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .lg-range-visible {
    visibility: visible !important;
  }
  .lg-range-show {
    display: revert-layer !important;
  }
  .lg-range-block {
    display: block !important;
  }
  .lg-range-invisible {
    visibility: hidden !important;
  }
  .lg-range-hide {
    display: none !important;
  }
}
.md-invisible,
.md-range-invisible {
  visibility: visible !important;
}
.md-visible,
.md-range-visible {
  visibility: hidden !important;
}
.md-show,
.md-range-show,
.md-block,
.md-range-block {
  display: none !important;
}

@media screen and (max-width: 768px) {
  .md-visible {
    visibility: visible !important;
  }
  .md-show {
    display: revert-layer !important;
  }
  .md-block {
    display: block !important;
  }
  .md-invisible {
    visibility: hidden !important;
  }
  .md-hide {
    display: none !important;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .md-range-visible {
    visibility: visible !important;
  }
  .md-range-show {
    display: revert-layer !important;
  }
  .md-range-block {
    display: block !important;
  }
  .md-range-invisible {
    visibility: hidden !important;
  }
  .md-range-hide {
    display: none !important;
  }
}
.sm-invisible,
.sm-range-invisible {
  visibility: visible !important;
}
.sm-visible,
.sm-range-visible {
  visibility: hidden !important;
}
.sm-show,
.sm-range-show,
.sm-block,
.sm-range-block {
  display: none !important;
}

@media screen and (max-width: 576px) {
  .sm-visible {
    visibility: visible !important;
  }
  .sm-show {
    display: revert-layer !important;
  }
  .sm-block {
    display: block !important;
  }
  .sm-invisible {
    visibility: hidden !important;
  }
  .sm-hide {
    display: none !important;
  }
}

@media screen and (min-width: 481px) and (max-width: 576px) {
  .sm-range-visible {
    visibility: visible !important;
  }
  .sm-range-show {
    display: revert-layer !important;
  }
  .sm-range-block {
    display: block !important;
  }
  .sm-range-invisible {
    visibility: hidden !important;
  }
  .sm-range-visible {
    visibility: visible !important;
  }
  .sm-range-hide {
    display: none !important;
  }
}
.xs-invisible,
.xs-range-invisible {
  visibility: visible !important;
}
.xs-visible,
.xs-range-visible {
  visibility: hidden !important;
}
.xs-show,
.xs-range-show,
.xs-block,
.xs-range-block {
  display: none !important;
}

@media screen and (max-width: 480px) {
  .xs-visible {
    visibility: visible !important;
  }
  .xs-show {
    display: revert-layer !important;
  }
  .xs-block {
    display: block !important;
  }
  .xs-invisible {
    visibility: hidden !important;
  }
  .xs-hide {
    display: none !important;
  }
}

@media screen and (min-width: 361px) and (max-width: 480px) {
  .xs-range-visible {
    visibility: visible !important;
  }
  .xs-range-show {
    display: revert-layer !important;
  }
  .xs-range-block {
    display: block !important;
  }
  .xs-range-invisible {
    visibility: hidden !important;
  }
  .xs-range-hide {
    display: none !important;
  }
}
.xxs-invisible,
.xxs-range-invisible {
  visibility: visible !important;
}
.xxs-visible,
.xxs-range-visible {
  visibility: hidden !important;
}
.xxs-show,
.xxs-range-show,
.xxs-block,
.xxs-range-block {
  display: none !important;
}

@media screen and (max-width: 360px) {
  .xxs-visible {
    visibility: visible !important;
  }
  .xxs-show {
    display: revert-layer !important;
  }
  .xxs-block {
    display: block !important;
  }
  .xxs-invisible {
    visibility: hidden !important;
  }
  .xxs-hide {
    display: none !important;
  }
}

@media screen and (min-width: 10px) and (max-width: 360px) {
  .xxs-range-visible {
    visibility: visible !important;
  }
  .xxs-range-show {
    display: revert-layer !important;
  }
  .xxs-range-block {
    display: block !important;
  }
  .xxs-range-invisible {
    visibility: hidden !important;
  }
  .xxs-range-hide {
    display: none !important;
  }
}