/*
 MiMFa.net
 Quick Styles
 */

.be.wide {
  display: block;
  width: 100%;
}
.be.tall {
  display: block;
  height: 100%;
}
.be.fit {
  width: fit-content;
  height: fit-content;
}
.be.bold {
  font-weight: bold;
}
.be.thick {
  font-weight: bolder;
}
.be.thin {
  font-weight: lighter;
}
.be.normal {
  text-decoration: none;
  font-weight: normal;
}

:has(.be.top, .be.middle, .be.bottom) {
  display: flex;
}
.be.top {
  align-self: top;
}
.be.middle {
  align-self: center;
}
.be.bottom {
  align-self: bottom;
}
.be.left {
  text-align: left;
}
.be.right {
  text-align: right;
}
.be.center {
  text-align: center;
}
.be.align.start {
  text-align: start;
}
.be.align.end {
  text-align: end;
}

.be.ltr {
  direction: ltr;
}
.be.rtl {
  direction: rtl;
}

.be.sticky{
  position: sticky;
}
.be.sticky:not(.bottom,.left,.right){
  top: 1vh;
}
.be.sticky.bottom{
  bottom: 1vh;
}
.be.sticky.left{
  left: 1vh;
}
.be.sticky.right{
  right: 1vh;
}

.be.table {
  display: table;
}
.be.grid {
  display: grid;
}
.be.flex {
  display: flex;
}
.be.block {
  display: block;
}
.be.inline {
  display: inline;
}
.be.inline-block {
  display: block;
}
.be.hide {
  display: none;
}
.be.show {
  display: inherit;
}
.be.visible {
  display: visible;
}
.be.invisible {
  visibility: hidden;
}
.be.transparent{
  background-color: transparent;
}

.be.light{
	-webkit-filter: brightness(100) grayscale(100);
	-moz-filter: brightness(100) grayscale(100);
	-o-filter: brightness(100) grayscale(100);
	-ms-filter: brightness(100) grayscale(100);
	filter: brightness(100) grayscale(100);
}
.be.dark{
	-webkit-filter: brightness(-100) grayscale(100);
	-moz-filter: brightness(-100) grayscale(100);
	-o-filter: brightness(-100) grayscale(100);
	-ms-filter: brightness(-100) grayscale(100);
	filter: brightness(-100) grayscale(100);
}
.be.blackwhite{
	-webkit-filter: brightness(100) grayscale(100) contrast(0.8);
	-moz-filter: brightness(100) grayscale(100) contrast(0.8);
	-o-filter: brightness(100) grayscale(100) contrast(0.8);
	-ms-filter: brightness(100) grayscale(100) contrast(0.8);
	filter: brightness(100) grayscale(100) contrast(0.8);
}
