##
# @package    MiMFa aseqbase
# @copyright  Copyright (C) 2005 - 2023 Open Source Matters. All rights reserved.
# @license    GNU General Public License version 3 or later; see LICENSE.txt
##
#
#Alternate default index pages
DirectoryIndex index.php index.htm index.html static.php
# No directory listings
IndexIgnore *
# Can be commented out if it causes errors, see notes above.
Options +FollowSymlinks
Options -Indexes
# Mod_rewrite in use.
RewriteEngine on
#RewriteBase /
#
## Begin - Rewrite rules to block out some common exploits.
# If you experience problems on your site then comment out the operations listed 
# below by adding a # to the beginning of the line.
# This attempts to block the most common type of exploit `attempts` on MiMFa!
#
# Block any script trying to base64_encode data within the URL.
RewriteCond %{QUERY_STRING} base64_encode[^(]*\([^)]*\) [OR]
# Block any script that includes a <script> tag in URL.
RewriteCond %{QUERY_STRING} (<|%3C)([^s]*s)+cript.*(>|%3E) [NC,OR]
# Block any script trying to set a PHP GLOBALS variable via URL.
RewriteCond %{QUERY_STRING} GLOBALS(=|\[|\%[0-9A-Z]{0,2}) [OR]
# Block any script trying to modify a _REQUEST variable via URL.
RewriteCond %{QUERY_STRING} _REQUEST(=|\[|\%[0-9A-Z]{0,2})
# Return 403 Forbidden header and show the content of the root home page
RewriteRule .* /index.php [F]
## End - Rewrite rules to block out some common exploits.
#
## Begin - MiMFa! core SEF Section.
#RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
# If the requested path and file are not /index.php and the request
# has not already been internally rewritten to the index.php script
RewriteCond %{REQUEST_URI} !^/index\.php
# and the requested path and file don't directly match a physical file
RewriteCond %{REQUEST_FILENAME} !-f
# and the requested path and file don't directly match a physical folder
RewriteCond %{REQUEST_FILENAME} !-d
# Redirect all virtual paths to the main index.php
RewriteRule ^ /index.php [L]
## End - MiMFa! core SEF Section.